<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/gm_scripts/release-deploy.cmd}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;${workspace_loc:/gm_scripts/grab_links}&quot; &#13;&#10;&quot;C:\Dokumente und Einstellungen\ollily\Anwendungsdaten\Mozilla\Firefox\Profiles\4bytdj01.default\gm_scripts&quot;&#13;&#10;&quot;C:\Users\localpc\AppData\Roaming\Mozilla\Firefox\Profiles\qu5qapj0.default/gm_scripts&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/gm_scripts/grab_links}"/>
</launchConfiguration>
=======
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/gm_scripts/release-deploy.cmd}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;${workspace_loc:/gm_scripts/grab_links}&quot; &#13;&#10;&quot;${env_var:MOZ_PROFILE}\gm_scripts&quot;&#13;&#10;&quot;C:\Dokumente und Einstellungen\ollily\Anwendungsdaten\Mozilla\Firefox\Profiles\4bytdj01.default\gm_scripts&quot;&#13;&#10;&quot;C:\Users\localpc\AppData\Roaming\Mozilla\Firefox\Profiles\qu5qapj0.default/gm_scripts&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/gm_scripts/grab_links}"/>
</launchConfiguration>

